.addition_container {
  > h5 {
    margin: 20px 10px;
  }
}

.addition_section,
.addition_content {
  > h6 {
    padding-bottom: 4px;
    margin: 10px;
    border-bottom: 1px solid var(--color-border);
    color: var(--color-text-description);
  }
}

.addition_section_list,
.addition_content_list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0 20px 20px;

  > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    border: 1px solid var(--color-border);
    cursor: grab;
  }
}
