/* .border_checkbox {
    width: 100%;
    justify-content: space-between;
    :global {
      .ant-checkbox {
        display: none;
      }
  
      .ant-checkbox-wrapper {
        border: 1px solid #eee;
        background-color: rgba(0, 0, 0, 0.01);
      }
  
      .ant-checkbox-wrapper-checked {
        border-color: #f40;
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
   */
.border_checkbox {
  margin-bottom: 12px;
}
